.counter {
  color: #fff;
}
.modalContainer {
  display: flex;
}
.modalContainer button {
  margin: 0 1rem;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #f7f7f7;
}
.modal h2 {
  color: #fff;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.state{
  color: #fff;
}